In [1]:
import pandas as pd

In [2]:
tama_df = pd.read_csv('engineered_tama_data.csv')
tama_df

,hebrew_city_name,city_code,year,total_open_requests,total_requests,total_approved_requests
0,אור יהודה,2400,2005,0,0.0,0.0
1,אור יהודה,2400,2006,0,0.0,0.0
2,אור יהודה,2400,2007,0,0.0,0.0
3,אור יהודה,2400,2008,0,1.0,0.0
4,אור יהודה,2400,2009,1,0.0,0.0
...,...,...,...,...,...,...
1075,תל אביב יפו,5000,2018,687,164.0,83.0
1076,תל אביב יפו,5000,2019,768,116.0,149.0
1077,תל אביב יפו,5000,2020,735,238.0,115.0
1078,תל אביב יפו,5000,2021,858,240.0,124.0
1079,תל אביב יפו,5000,2022,974,209.0,133.0

In [3]:
tama_df['total_approved_requests'].max()

149.0

In [4]:
import seaborn as sns
from matplotlib import pyplot as plt

sns.set_style("whitegrid")

from bidi.algorithm import get_display
plot_tama_df['Yeshuv'] = tama_df['hebrew_city_name'].apply(get_display)
plot_tama_df['year'] = plot_tama_df['year'] - 2000
plot_tama_df['year'] = plot_tama_df['year'].astype(int)
sns.set(font_scale=3) 

g = sns.FacetGrid(plot_tama_df, col="Yeshuv", col_wrap=3, height=10, ylim=(0, 150))
g.map(plt.plot, "year", "total_approved_requests", linestyle="-", marker="o", color="green")
g.set_titles('{col_name}')
g.set_xlabels(get_display("שנים"))
g.set_ylabels(get_display("סך אישורי בקשות תמא"))
g.set(xticks=[5, 10, 15, 20], yticks=list(range(0, 151))[::30])
g.savefig('plot_total_approved_requests.png')

NameError: name 'plot_tama_df' is not defined

In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt

sns.set_style("ticks")

from bidi.algorithm import get_display

for city in tama_df['hebrew_city_name'].unique():
    city_df = tama_df[tama_df['hebrew_city_name'] == city]
    city_df['year'] = city_df['year'].astype(int)
    plt.figure(figsize=(10, 6))
    sns.set(font_scale=1.5)
    sns.lineplot(data=city_df, x='year', y='total_approved_requests', color='green')
    plt.title(get_display(city))
    plt.xlabel(get_display("שנים"))
    plt.ylabel(get_display("סך אישורי בקשות תמא"))
    plt.xticks([2005, 2010, 2015, 2020])
    plt.yticks(range(0, 151, 30))
    plt.savefig(f'cities_plot_total_approved_requests/{city}.png')
    plt.close()