In [1]:
import pandas as pd
from geopy.geocoders import GoogleV3

In [2]:
tama_df = pd.read_csv('tama.csv', encoding='cp1255')

In [3]:
tama_df['address'] = tama_df['Rechov'] + ' ' + tama_df['Bayt'].apply(str) + ', ' + tama_df['Yeshuv']

In [4]:
from geopy.geocoders import GoogleV3
from functools import partial
from geopy.exc import GeocoderTimedOut

# Replace YOUR_API_KEY with your actual API key
YOUR_API_KEY = 'AIzaSyCoAqXl84XfBj5I3Eyj06CRxiGaKYDZmbI'

# Create a GoogleV3 geocoder object with your API key
geolocator = GoogleV3(api_key=YOUR_API_KEY)

# Define a function to geocode a Hebrew address using the GoogleV3 geocoder with a timeout of 10 seconds
def geocode_hebrew_address(address):
    try:
        location = geolocator.geocode(address, language='he', timeout=10)
        return (location.latitude, location.longitude) if location else None
    except GeocoderTimedOut:
        print(f"Geocoding timed out for address '{address}'.")
        return None
    except Exception as e:
        print(f"Error geocoding address '{address}': {e}")
        return None

# Apply the geocode_hebrew_address function to the 'address' column of your DataFrame
tama_df['coordinates'] = tama_df['address'].apply(geocode_hebrew_address)
tama_df['latitude'] = tama_df['coordinates'].apply(lambda x: x[0] if x else None)
tama_df['longitude'] = tama_df['coordinates'].apply(lambda x: x[1] if x else None)

In [6]:
tama_df

,MezheYeshut,GISId,MisparYeshut,MisparYeshutAv,AchuzHachtamot,AchuzHachtamotMitcham,Bayt,GushChelka,KamutDirot,KamutTziburi,...,Yazam,Yeshut,Yeshuv,BakashaLeHeter,Heter1,Ichlus1,address,coordinates,latitude,longitude
0,16-640988,640988,16000146,NaN,NaN,NaN,1,NaN,NaN,2.0,...,NaN,"תמ""א",מזכרת בתיה,2013-08-28,2015-11-17,2020-03-24,"אלון יגאל 1, מזכרת בתיה","(31.8529404, 34.8456398)",31.852940,34.845640
1,16-640984,640984,16002161,NaN,NaN,NaN,23,NaN,NaN,NaN,...,NaN,"תמ""א",מזכרת בתיה,2014-03-24,2021-10-24,NaN,"שד אליהו 23, מזכרת בתיה","(31.854477, 34.8451273)",31.854477,34.845127
2,16-640985,640985,16000145,NaN,NaN,0.0,32,NaN,NaN,NaN,...,"קינן-קאולי פרוייקטים בע""מ","תמ""א",מזכרת בתיה,2016-11-14,NaN,NaN,"שד אליהו 32, מזכרת בתיה","(31.854044, 34.8453213)",31.854044,34.845321
3,16-640989,640989,16000147,NaN,NaN,NaN,5,NaN,NaN,NaN,...,NaN,"תמ""א",מזכרת בתיה,2017-06-06,NaN,NaN,"אלון יגאל 5, מזכרת בתיה","(31.8528759, 34.84637980000001)",31.852876,34.846380
4,16-649233,649233,16001567,NaN,NaN,NaN,28,NaN,NaN,NaN,...,NaN,"תמ""א",מזכרת בתיה,2019-09-16,NaN,NaN,"שד אליהו 28, מזכרת בתיה","(31.8541366, 34.8447116)",31.854137,34.844712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10548,16-646926,646926,16009122,NaN,NaN,NaN,34,NaN,NaN,NaN,...,NaN,"תמ""א",הוד השרון,2016-03-17,NaN,NaN,"ישורון 34, הוד השרון","(32.1587622, 34.8930285)",32.158762,34.893028
10549,16-648376,648376,16009219,NaN,57.14,8.0,13,NaN,NaN,NaN,...,גרופין בעמ,"תמ""א",הוד השרון,NaN,NaN,NaN,"בן גמלא יהושע 13, הוד השרון","(32.1432137, 34.8763687)",32.143214,34.876369
10550,16-654519,654519,16009567,NaN,NaN,NaN,3,NaN,NaN,NaN,...,NaN,"תמ""א",הוד השרון,NaN,NaN,NaN,"פדויים 3, הוד השרון","(32.1577059, 34.9006436)",32.157706,34.900644
10551,16-655843,655843,16010236,NaN,NaN,NaN,6,NaN,NaN,NaN,...,NaN,"תמ""א",הוד השרון,NaN,NaN,NaN,"עין חי 6, הוד השרון","(32.1567005, 34.8937613)",32.156700,34.893761
10552,16-655846,655846,16010237,NaN,NaN,NaN,39,NaN,NaN,NaN,...,NaN,"תמ""א",הוד השרון,NaN,NaN,NaN,"יסוד המעלה 39, הוד השרון","(32.1595119, 34.9150248)",32.159512,34.915025

In [5]:
tama_df.to_csv('geocode_tama_address_data.csv')